---

- debug: msg="Using Kubeconfig '{{ ansible_env.K8S_AUTH_KUBECONFIG }}'"

- name: Download OpenShift Clients
  include_tasks: download_clients.yml
  when: download_clients

- name: Create Workshop Users
  include_tasks: users.yml
  when: users.create

- name: Deploy RedHat OpenShift Service Mesh
  include_tasks: deploy_servicemesh.yml
  when: deploy_servicemesh

- name: Deploy OpenShift Pipelines
  include_tasks: deploy_pipelines.yml
  when: deploy_pipelines

- name: Deploy OpenShift Serverless
  include_tasks: deploy_serverless.yml
  when: deploy_serverless

- name: Deploy Strimzi Kafka
  include_tasks: deploy_kafka.yml
  when: deploy_kafka

- name: Deploy Camel K
  include_tasks: deploy_camel_k.yml
  when: deploy_camel_k

- name: Deploy Eclipse Che
  include_tasks: deploy_che.yml
  when: deploy_che